<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_taxio_2020">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="AIzaSyBtxr35hvhSTrxOSvAf-ixKDw5u-6T4saM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".generalMainActivity" />
        <activity android:name=".generalReservationCompleteActivity"/>
        <activity android:name=".generalCheckEpilogueActivity"/>
        <activity android:name=".generalMakeScheActivity"/>
        <activity android:name=".generalSDateActivity"/>
        <activity android:name=".generalSDriverActivity"/>
        <activity android:name=".generalSRegionActivity"/>
        <activity android:name=".generalSTaxiActivity"/>
        <activity android:name=".generalWriteEpilogueActivity"/>
        <activity android:name=".generalWriteWithdrawalActivity"/>
        <activity android:name=".generalWithdrawalCompleteActivity"/>
    </application>
</manifest>