<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_taxio_2020">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.project_taxio_2020.permission.MAPS_RECEIVE"
        android:label="signiture" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_taxio"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_taxio_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".driverMainActivity"></activity>
        <activity android:name=".ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqG5eLPu4MXzGZN4BueA0AEDwriSqCtGU" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".introActivity"> <!-- intro 시작 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFireBaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" /> <!-- **********************************************************로그인********************************************************** -->
        <activity android:name=".LoginActivity" /> <!-- 로그인 -->
        <activity android:name=".findId" /> <!-- 아이디 찾기 -->
        <activity android:name=".findPw" /> <!-- 패스워드 찾기 -->
        <!-- ************************************회원가입****************************************** -->
        <activity
            android:name=".MemberSort"
            android:parentActivityName=".LoginActivity" /> <!-- 승객인지 기사인지 회원가입1 -->
        <activity
            android:name=".generalAgeCheck"
            android:parentActivityName=".MemberSort" /> <!-- 미성년자인지 아닌지 회원가입2 > 승객일 경우에만 -->
        <activity
            android:name=".generalClause"
            android:parentActivityName=".generalAgeCheck" /> <!-- 정보제공 동의 회원가입3 -->
        <activity
            android:name=".generalMakeIdChild"
            android:parentActivityName=".MemberSort" /> <!-- 승객 미성년자 회원가입 정보입력 회원가입4 -->
        <activity
            android:name=".generalMakeIdChildComplete"
            android:parentActivityName=".LoginActivity" /> <!-- 아가회원가입 완료 회원가입5 -->
        <activity
            android:name=".generalMakeId"
            android:parentActivityName=".MemberSort" /> <!-- 승객 회원가입 정보입력 회원가입4 -->
        <activity
            android:name=".MakeIdComplete"
            android:parentActivityName=".LoginActivity" /> <!-- 회원가입 완료 회원가입5 -->
        <activity
            android:name=".driverMakeId"
            android:parentActivityName=".MemberSort" /> <!-- 기사 회원가입 정보입력 회원가입4 -->
        <activity
            android:name=".driverMakeIdComplete"
            android:parentActivityName=".LoginActivity" /> <!-- 기사회원가입 완료 회원가입5 -->
        <!-- ************************************회원가입****************************************** -->
        <!-- **********************************************************로그인********************************************************** -->
        <!-- **********************************************************승객********************************************************** -->
        <!-- ************************************메인 흐름****************************************** -->
        <activity android:name=".generalMainActivity" /> <!-- 승객 메인 승객1 -->
        <activity
            android:name=".generalSRegionActivity"
            android:parentActivityName=".generalMainActivity" /> <!-- 승객 지역선택 승객2 -->
        <activity
            android:name=".generalSDateActivity"
            android:parentActivityName=".generalSRegionActivity" /> <!-- 승객 일정선택 승객3 -->
        <activity
            android:name=".generalSTaxiActivity"
            android:parentActivityName=".generalSDateActivity" /> <!-- 승객 택시 대여 선택 승객4 -->
        <activity
            android:name=".generalMakeScheActivity"
            android:parentActivityName=".generalSTaxiActivity" /> <!-- 승객 일정별 방문 지역 선택 승객5 -->
        <activity
            android:name=".generalUpdateScheActivity"
            android:parentActivityName=".generalMakeScheActivity" /> <!-- 승객 일정 편집 승객6 -->
        <activity
            android:name=".generalSDriverActivity"
            android:parentActivityName=".generalMainActivity" /> <!-- 승객 기사 선택 승객7 -->
        <activity
            android:name=".generalReservationCompleteActivity"
            android:parentActivityName=".generalMainActivity" /> <!-- 승객 기사 예약 완료 승객8 > 메인 복귀 -->
        <!-- ************************************메인 흐름****************************************** -->
        <!-- ************************************햄버거****************************************** -->
        <activity android:name=".generalMyscheActivity" /> <!-- 여행일정 메인으로 일정1 -->
        <activity android:name=".generalMyScheDetailActivity" /> <!-- 여행 일정 디테일 일정2 -->
        <activity android:name=".generalCheckEpilogueActivity" /> <!-- 후기 관리 메인으로 후기1 -->
        <activity android:name=".generalTripEpliogue" /> <!-- 후기 작성할 기사 선택 목록 후기2 -->
        <activity android:name=".generalWriteEpilogueActivity" /> <!-- 후기 작성 후기3 -->
        <activity android:name=".generalSetting" /> <!-- 기사 메인 기사1 -->
        <activity android:name=".driverResumeActivity" /> <!-- 기사 지원 기사2 -->
        <activity android:name=".driverAcceptRequestActivity" /> <!-- 기사 요청완료 기사3 메인으로 -->
        <!-- ************************************메인 흐름****************************************** -->
        <!-- ************************************햄버거****************************************** -->
        <activity android:name=".driverMyScheActivity" /> <!-- 기사 내 스케줄 메인으로 -->
        <activity android:name=".driverCheckScheActivity" /> <!-- 기사 예약 현황 뒤로가기 > 메인으로 // 다른 클릭> 요청내역으로 이동 -->
        <activity android:name=".driverCheckEpilogueActivity" /> <!-- 기사 후기 메인으로 -->
        <activity android:name=".DriverSetting" /> <!-- 기사 설정 -->
        <!-- ************************************햄버거****************************************** -->
        <!-- **********************************************************기사********************************************************** -->
        <!-- **********************************************************공통********************************************************** -->
        <activity android:name=".generalInfo" /> <!-- 개발자소개(공지사항) 메인으로 -->
        <activity android:name=".generalCs" /> <!-- 고객센터 메인으로 -->
        <!-- ************************************정보수정****************************************** -->
        <activity android:name=".generalModifyId" /> <!-- 승객 정보 수정 메인으로 -->
        <activity android:name=".driverModifyId" /> <!-- 기사 정보 수정 메인으로 -->
        <!-- ************************************정보수정****************************************** -->
        <!-- ************************************탈퇴****************************************** -->
        <activity android:name=".generalWriteWithdrawalActivity" /> <!-- 탈퇴 진행 메인으로 -->
        <activity android:name=".generalWithdrawalCompleteActivity" /> <!-- 탈퇴 완료 로그인으로 -->
        <activity android:name=".driverWriteWithdrawal" /> <!-- 기사 탈퇴하기 메인으로 -->
        <activity android:name=".driverWithdrawalComplete" />
    </application>

</manifest>